.keha1{
	margin-left : 50px;
}
.nimi{
	margin-left : 24px;
}

.droptown{
	position : relative;
	display: inline-block;
}

. droptown-content a{
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
}